body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.5;
}
h1 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-style: bold;
}
h2 {
    font-size: 30px;
    font-style: bold;
}
h3 {
    font-size: 22px;
    font-style: normal;
}
p {
    font-size: 16px;
    font-style: normal;
}
/* NAVIGATION */
.inline-block{
    padding: 15px;
}
.inline-block ul{
    float: right;
}
.inline-block li{
    display: inline-block;
    padding: 0px 20px;
}
.inline-block a {
    text-decoration: none;
    color: black;
}
/* FLEXBOX */
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left, .right {
    text-align: center;
}
/* HERO */
.heroImg{
    background-color: bisque;
    padding: 100px 15px;
}
.heroImg .left {
    width: 35vw;
}
/* SKILLS */
.my-skills li{
    list-style-type: none;
}
.my-skills h1{
    text-decoration: underline;
}
.my-skills .right {
    width: 35vw;
}
.vl {
    border-left: 4px solid green;
    height: 50vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 10px;
}
/* WORK */
.my-work h1 {
    text-align: center;
}
.work-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 15px;
}
.grid-item{
    border: 2px solid red;
    padding: 15px;
}
/* FOOTER */
.contact{
    text-align: center;
}
footer {
    padding: 5px;
}
footer ul{
    list-style: none;
    padding-left: 5px;
}
footer .inline-block{
    display: inline-block;
    padding: 0px 7px;
}

